.list-item-block {
  width: 100%;
  padding: 1.5vw 3vw;
}

.list-item {
  height: 100px;
  border: 0.6vw solid black;
  border-radius: 1.5vw;
  background: linear-gradient(to bottom, #fff, #e3e3e3);

  &.magic {
    border-color: green;
  }

  &.effect {
    border-color: #ff9933;
  }
}
